@charset "UTF-8";
@-webkit-keyframes zoomBackground {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes zoomBackground {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
.shadow {
  -webkit-box-shadow: 0 0 20px 0 rgba(60, 40, 2, 0.515);
          box-shadow: 0 0 20px 0 rgba(60, 40, 2, 0.515);
}

.flow {
  position: relative;
  top: -2rem;
}

.image_container {
  position: relative;
}
.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.image_container .overlay_gradient {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0, 0, 0, 0.389)), color-stop(40%, rgba(148, 148, 148, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.389) 15%, rgba(148, 148, 148, 0) 40%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.image_container .overlay-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  z-index: 1;
}

.padding__block_1200 {
  padding-block: 2rem; /* Replace with actual spacing value */
}

.padding__block_600 {
  padding-block: 1.5rem; /* Replace with actual spacing value */
}

.padding__inline_400 {
  padding-inline: 1rem; /* Replace with actual spacing value */
}

/* Reset CSS */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

button {
  background-color: #94754f;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  letter-spacing: 1.2px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero_btn:nth-of-type(1) {
  background-color: rgba(148, 117, 79, 0.8431372549);
  border: 1px solid rgba(255, 255, 255, 0.608);
  color: white;
}

.hero_btn:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0.6431372549);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.608);
}

.hero_btn {
  width: 146px;
  padding: 10px 15px;
}

.form_button {
  width: 100%;
}

.whatsapp-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
}

.whatsapp-button img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.whatsapp-button img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3); /* Mărește pictograma la hover */
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.607);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.607);
}

@media screen and (max-width: 62rem) {
  .whatsapp-button {
    display: block;
  }
}
.header {
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
}
.header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
}
.header .header_logo .logo_img {
  width: 2.5rem;
  height: 2.5rem;
}
.header .header_logo .logo_name {
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: 500;
}
.header .cta {
  gap: 0.5rem;
  display: none;
}
.header .cta img {
  width: 25px;
  height: 25px;
}
.header .cta .cta_number {
  color: #ffffff;
  font-size: 16px;
}
.header .navbar .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.791);
  width: 100%;
  max-height: 0;
  gap: 2.5rem;
  padding-block: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear;
  transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear;
}
.header .navbar .nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header .navbar .nav_item .nav_link {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .navbar .nav_item .active {
  color: #94754f;
}
.header .nav_list.active {
  max-height: 400px;
  opacity: 1;
  padding-block: 4rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header .menu_button {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.header .menu_button span {
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 8px;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}
.header .menu_button.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 10px);
          transform: rotate(45deg) translate(5px, 10px);
}
.header .menu_button.active span:nth-child(2) {
  opacity: 0;
}
.header .menu_button.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -10px);
          transform: rotate(-45deg) translate(5px, -10px);
}

@media screen and (min-width: 75rem) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav_list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    opacity: 1 !important;
    overflow: visible !important;
    padding-block: 0 !important;
    max-height: unset !important;
  }
  .navbar .nav_item {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    color: white;
  }
  .menu_button {
    display: none;
  }
}
.card_section {
  background-color: rgba(255, 255, 255, 0);
}
.card_section .container__cards {
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.card_section .container__cards .card {
  padding: 1rem;
}
.card_section .container__cards .card .header_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card_section .container__cards .card .header_cards img {
  width: 60px;
}
.card_section .container__cards .card .header_cards .card-title {
  font-family: "Mulish", sans-serif;
  color: #604b33;
  font-weight: 700;
}

@media screen and (min-width: 48rem) {
  .container__cards {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Responsive column setup */
    margin-bottom: 4rem;
  }
  .container__cards .header_cards img {
    width: 58px;
  }
}
.hero {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Places the video behind the content */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(39, 39, 39, 0.5960784314) 10%, #000000 60%); /* Adjust gradient colors and transparency */
  z-index: 0; /* Sits above the video but below the content */
  background-size: 150% 150%;
  -webkit-animation: gradientMove 4s infinite alternate ease-in-out;
          animation: gradientMove 4s infinite alternate ease-in-out;
}

@-webkit-keyframes gradientMove {
  0% {
    background-position: 65% 20%;
  }
  100% {
    background-position: 55% 50%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 65% 20%;
  }
  100% {
    background-position: 55% 50%;
  }
}
.hero_content {
  position: relative;
  z-index: 1;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero_content .hero_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  color: white;
}
.hero_content span {
  color: #94754f;
}
.hero_content .hero_text {
  max-width: 750px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-block: 2rem;
}

.count_section {
  margin: 3rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.count_section .count {
  background: rgb(255, 255, 255);
  background: linear-gradient(209deg, rgba(255, 255, 255, 0.18) 11%, rgba(28, 28, 28, 0.435) 40%);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 350px;
}
.count_section .count .count_title {
  font-weight: 700;
  margin-right: 1rem;
}
.count_section .count .count_text {
  color: white;
  letter-spacing: 2px;
}

.buttons_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 320px;
}

.container {
  width: min(81.25rem, 100% - 2rem);
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.container .section_text span {
  font-weight: 700;
}

.section_title {
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: #604b33;
}

.container_white {
  background-color: white;
}

.about_container {
  padding: 1rem;
  text-align: center;
}
.about_container .section_title {
  margin-bottom: 0;
}

.wrapper .image_container img {
  max-height: 400px;
}

@media screen and (min-width: 75rem) {
  .hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem;
  }
  .wrapper .section_content {
    margin-right: 2.5rem;
  }
  .wrapper .image_container img {
    min-width: 400px;
    min-height: 350px;
  }
  .count_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5rem;
  }
  .count_section .count {
    margin-right: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
  }
}
.review_section {
  background-color: #ffffff;
}
.review_section h5 {
  color: rgba(142, 142, 142, 0.511);
}
.review_section .review {
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
}
.review_section .title_section_review {
  text-align: center;
}
.review_section .title_section_review .review_title {
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  color: #604b33;
}
.review_section .review_card {
  padding: 1.5rem;
  text-align: center;
}
.review_section .review_card .header_review {
  margin-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.review_section .review_card .header_review .review_img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-block: 0.75rem;
}
.review_section .review_card .header_review .review_name {
  font-weight: 700;
  color: #604b33;
  margin-block: 0.75rem;
}
.review_section .review_card .date {
  font-size: 1rem;
  color: #878686;
}
.review_section .swiper-pagination {
  margin-block: 1rem;
  position: relative;
}

.swiper-pagination-bullet {
  background: #604b33 !important;
  width: 25px !important;
  height: 5px !important;
  border-radius: 8px !important;
}

.checked {
  color: orange;
}

@media screen and (min-width: 75rem) {
  .overlay_review {
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.75)));
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.75) 80%);
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 123;
    pointer-events: none;
  }
  .overlay_review2 {
    background: -webkit-gradient(linear, left top, right top, color-stop(11%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.75)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.75) 80%);
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 123;
    pointer-events: none;
  }
  .review_card {
    text-align: left !important;
  }
}
.contact_section {
  background: linear-gradient(323deg, rgba(0, 0, 0, 0) 8.11%, #000 82.58%), url("../img/home/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 1rem;
}
.contact_section .logo_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-block: 0.75rem;
}
.contact_section .logo_contact .logo_name {
  text-transform: uppercase;
}
.contact_section .contact_title {
  font-weight: 700;
  margin-block: 0.75rem;
}
.contact_section .contact_form {
  background-color: rgba(240, 237, 226, 0.1254901961);
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-block: 0.75rem;
}
.contact_section .contact_form .form_group {
  margin-block: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}
.contact_section .contact_form .form_group .label-container {
  margin-block: 0.5rem;
}
.contact_section .contact_form .form_group label {
  font-weight: 600;
  color: white;
}
.contact_section .contact_form .form_group input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  margin-block: 0.75rem;
}
.contact_section .contact_form .form_group textarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  margin-block: 0.75rem;
}

@media screen and (min-width: 48rem) {
  .contact_section {
    padding-block: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_section .contact_header {
    width: 35rem;
    text-align: center;
  }
  .contact_section .contact_header .logo_contact img {
    width: 45px;
  }
  .contact_section .contact_container {
    width: 40rem;
  }
  .contact_section .contact_container .contact_form {
    padding: 1rem;
  }
  .contact_section .contact_container .form_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
}
footer {
  background: linear-gradient(133deg, rgb(0, 0, 0) 60%, #61472a 100%);
  color: white;
  padding-block: 3rem;
  position: relative;
  z-index: 4;
}
footer p,
footer a {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 300;
}
footer h6 {
  font-family: "Mulish", sans-serif;
}
footer ul {
  margin-bottom: 1rem;
}
footer .footer_header {
  text-align: center;
}
footer .footer_header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_header .text {
  margin-block: 1rem;
}
footer .footer_header .social_media {
  width: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 450px;
}

.signature {
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.536);
}

.footer_nav {
  position: relative;
  z-index: 4;
  padding: 1rem;
}
.footer_nav h6 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}
.footer_nav ul li {
  padding-bottom: 0.5rem;
}
.footer_nav ul li p {
  line-height: normal;
}

@media screen and (min-width: 48rem) {
  .footer_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem;
  }
  .footer_section .footer_header {
    min-width: 200px;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-right: 5vw;
    height: 100px;
  }
  .footer_section .footer_nav {
    padding: 1rem;
    width: 840px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.banner_home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home/banner.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.banner_servicii {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.281)), to(rgba(6, 4, 1, 0.999))), url("../img/services/servicii_baner.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(6, 4, 1, 0.999)), url("../img/services/servicii_baner.jpg") center/cover no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  text-align: center;
}
.banner_servicii .text {
  margin-bottom: 1rem;
}

.question_section {
  background-image: linear-gradient(30deg, #342718 0%, #000000 100%);
  color: whitesmoke;
  margin-bottom: 2rem;
  padding: 3rem 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.question_section .section_title h2 {
  color: white;
  font-weight: 500;
}
.question_section .section_content {
  max-width: 1500px;
  margin: 0 auto;
}
.question_section .question_box {
  width: 100%;
  padding-block: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.364);
}
.question_section .question_box h5 {
  font-family: "Mulish", sans-serif;
  padding-block: 10px;
}
.question_section .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.question_section .question .arrow {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.question_section .answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0; /* Inițial ascuns */
  -webkit-transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.3s ease-in-out 0.3s;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.3s ease-in-out 0.3s;
  color: rgba(255, 255, 255, 0.618);
}
.question_section .answer.show {
  max-height: 600px; /* Setează o valoare suficient de mare pentru text */
  overflow: visible;
  opacity: 1; /* Devine vizibil treptat */
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); /* Săgeata se rotește când e activă */
}

.hero_services {
  background: linear-gradient(36deg, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 0.808) 45%), url("../img/services/ser.jpg") no-repeat center;
  background-size: cover;
  height: 55vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_services .hero_text {
  margin: auto;
  text-align: center;
  color: white;
}
.hero_services .hero_text .title {
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}
.hero_services .hero_text p {
  margin-block: 1rem;
}
.hero_services .hero_text span {
  color: #94754f;
}

.services_contain {
  padding: 3.5rem 1rem;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_title {
  margin-bottom: 1rem;
  text-align: center;
}
.section_title h2 {
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: #604b33;
}
.section_title p {
  margin-top: 1rem;
  font-family: "Inter";
  color: black;
  font-weight: 400;
}

.plan {
  background-color: #ffffff;
  max-width: 850px;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}
.plan h5 {
  color: #604b33;
  font-weight: 500;
}
.plan img {
  width: 60px;
  height: 60px;
}
.plan .plan_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.plan .plan_contain .header_plan {
  margin-top: 1rem;
}
.plan .plan_contain .header_plan .title_plan {
  margin-bottom: 0.5rem;
}

.domenii_section {
  background-color: #efefef;
  padding: 2rem 1rem;
}
.domenii_section .domenii_header {
  text-align: center;
  margin-bottom: 2rem;
}
.domenii_section .domenii_header h2 {
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: #604b33;
}
.domenii_section .domenii_header p {
  margin-top: 1rem;
  font-family: "Inter";
  color: black;
  font-weight: 400;
}
.domenii_section .box {
  min-width: 300px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-transition: max-height 0.4s ease-in-out, padding 0.1s ease-in-out;
  transition: max-height 0.4s ease-in-out, padding 0.1s ease-in-out;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}
.domenii_section .box .card-title {
  font-family: "Mulish", sans-serif;
  color: #604b33;
  font-weight: 700;
  text-align: center;
  margin-block: 1rem;
}
.domenii_section .box .read_more_btn {
  background-color: transparent;
  color: #604b33;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.domenii_section .hidden_text {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
.domenii_section .box.expanded .hidden_text {
  max-height: 1000px; /* Valoare mare pentru a acoperi orice conținut */
}

@media screen and (min-width: 75rem) {
  .hero_services {
    height: 29vw;
  }
  .services_contain {
    padding-block: 6rem;
  }
  .service_plan {
    max-width: 1450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .service_plan .plan {
    margin: 0;
    max-width: 650px;
    padding: 2.5rem;
  }
  .service_plan .plan .plan_contain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .service_plan .plan .plan_contain .header_plan {
    margin-top: 0;
  }
  .service_plan .plan .plan_contain img {
    width: 85px;
    height: auto;
    margin-left: 2rem;
    -webkit-filter: opacity(95%);
            filter: opacity(95%);
  }
  .domenii_grid {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .domenii_grid .box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 2rem;
  }
  .domenii_grid .box .card-title {
    text-align: left;
  }
  .domenii_grid .box .read_more_btn {
    margin-top: 1rem;
    padding: 0 !important;
  }
}
.h_about {
  background: linear-gradient(36deg, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 0.9) 45%), url("../img/desk_1.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_text {
  text-align: center;
  color: rgb(255, 255, 255);
}
.hero_text .title {
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}
.hero_text p {
  margin-block: 1rem;
}
.hero_text span {
  color: #94754f;
}

.about {
  height: 100vh;
}
.about h2 {
  font-size: 2.5rem;
  font-family: "Mulish", sans-serif;
  color: #604b33;
  margin-block: 1rem;
}
.about p {
  font-size: 1.125rem;
  font-family: "Inter";
  color: #000000;
  font-weight: 400;
}
.about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-inline: 1rem;
  line-height: 1.5;
}
.about article .about_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 1rem;
}
.about article .about_text {
  font-size: 1.125rem;
  font-weight: 400;
  margin-block: 1rem;
}

@media screen and (min-width: 75rem) {
  .h_about {
    height: 29vw;
  }
}
h1 {
  font-size: clamp(3rem, 6vw, 4.5rem); /* Min 32px, Max 56px */
}

h2 {
  font-size: clamp(1.75rem, 5.5vw, 3rem); /* Min 28px, Max 48px */
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Min 24px, Max 40px */
}

h4 {
  font-size: clamp(1.375rem, 4.5vw, 2.25rem); /* Min 22px, Max 36px */
}

h5 {
  font-size: clamp(1.25rem, 4vw, 2rem); /* Min 20px, Max 32px */
}

h6 {
  font-size: clamp(1.125rem, 3.5vw, 1.75rem); /* Min 18px, Max 28px */
}

p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 1.55; /* Good readability */
}

a {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  background-color: #F0EDE2;
}

#popup {
  display: none;
  position: fixed;
  width: 150px;
  top: 100px; /* Pornim din afara ecranului */
  left: 0; /* Centrare orizontală */
  background-color: rgba(131, 90, 39, 0.806);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.355);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.355);
  -webkit-animation: move 5s ease-in-out forwards;
          animation: move 5s ease-in-out forwards;
  font-size: 12px;
  padding: 8px;
  border-radius: 0 8px 8px 0;
  z-index: 345345;
}

@-webkit-keyframes move {
  0% {
    left: -150px;
  } /* Start off-screen */
  20% {
    left: 0;
  } /* Slide into view */
  80% {
    left: 0;
  } /* Stay visible */
  100% {
    left: -150px;
  } /* Slide out */
}

@keyframes move {
  0% {
    left: -150px;
  } /* Start off-screen */
  20% {
    left: 0;
  } /* Slide into view */
  80% {
    left: 0;
  } /* Stay visible */
  100% {
    left: -150px;
  } /* Slide out */
}