.h_about {
  background: linear-gradient(
      36deg,
      rgba(255, 255, 255, 0) 5%,
      rgba(0, 0, 0, 0.9) 45%
    ),
    url('../img/desk_1.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_text {
  text-align: center;
  color: rgb(255, 255, 255);
  .title {
    font-weight: $font-weight-bold;
    font-family: $font-secondary;
  }
  p {
    margin-block: 1rem;
  }
  span {
    color: $light-brown;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 1rem;

  h2 {
    font-weight: 600;
    font-family: $font-secondary;
    color: $secondary-brown;
  }
  .about_article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid $light_grey;
    .about_content {
      margin-top: 2rem;
      text-align: center;
      p{
        color: $light-brown;
        margin-top: 1rem;
      }
      .about_text {
        margin-block: 2rem;
        font-family: $font-primary;
        color: black;
        max-width: 650px;
      }
    }
    .about_images {
      max-width: 520px;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .h_about {
    height: 29vw;
  }

  .about_article {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;

    .about_images {
      margin-left: 2rem;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


//progress bar
.domains-container {
  margin-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    background-color: white;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .domain {
    flex: 1;
    min-width: 300px;

    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.087);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
    
    h3 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #2c3e50;
    }
    
    .domain-description {
      margin-top: 15px;
      color: #7f8c8d;
      line-height: 1.6;
    }
  }

  .progress-container {
    // margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #ecf0f1;
    // border-radius: 5px;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    margin-right: 15px;
    
    .progress-fill {
      height: 100%;
     background: linear-gradient(118deg, rgba(0, 0, 0, 0.866) 11%, rgb(192, 160, 120) 63%);
      position: absolute;
      top: 0;
      left: 0;
      // border-radius: 5px;
      transition: width 1.5s ease-in-out;
    }
  }
  
  .progress-text {
    font-weight: 600;
    color: #604b33;
    font-size: 16px;
    min-width: 40px;
    text-align: right;
  }
