.hero_services {
  background: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.821) 30%,
      rgba(74, 58, 39, 0.216) 100%
    ),
    url('../img/services/ser.jpg') no-repeat center center;
  background-size: cover;
  height: 60vh;
  display: flex;

  .hero_text {
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;

    .title {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-family: $font-secondary;
      color: rgb(255, 255, 255);
    }

    span {
      color: $light-brown;
    }
  }
}

.plan {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 1rem;
  margin: 1rem;
  max-width: 850px;

  h4 {
    color: $secondary-brown;
  }
  img {
    max-width: 100px;
    height: 100px;
  }
  .header_plan {
      margin: 1rem;
  }
}



@media screen and (min-width: $breakpoint-xl) {
  .hero_services {
    height: 40vw;
  }
  .service_plan {
    position: relative;
    top: -100px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .plan {
      max-width: 670px;
      height: auto;
      flex-direction: row;
      padding: 5%;
    }
  }
}


