.hero_services {
  background: linear-gradient(
      150deg,
      rgba(126, 126, 126, 0.17) 10%,
      rgba(0, 0, 0, 0.984) 90%
    ),
    url('../img/services/ser.jpg') no-repeat center;
  background-size: cover;
  height: 50vh;
  display: flex;

  .hero_text {
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;

    .title {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-family: $font-secondary;
      color: rgb(255, 255, 255);
    }

    p {
      margin-block: 2rem;
    }
    span {
      color: $light-brown;
    }
  }
}

.services_contain {
padding: 2rem 1rem;
background-color: #efefef;
}

.section_title {
  margin-bottom: 1rem;
      text-align: center;
  h2 {
    font-weight: $font-weight-medium;
    font-family: $font-secondary;
    color: $secondary-brown;
  }
  p {
    margin-top: 1rem;
        font-family: $font-primary;
    color: black;
    font-weight: 400;
  }
}

.plan {
  background-color: #ffffff;
  max-width: 850px;
  margin-bottom: 2rem;
  padding: 2rem 1rem;

  h5 {
    color: $secondary-brown;
    font-weight: 500;
  }
  img {
    width: 60px;
    height: 60px;
  }

  .plan_contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .header_plan {
      margin-top: 1rem;
      .title_plan {
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .hero_services {
    height: 70vh;
  }
  .services_contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .section_title {
      padding-top: 3.5rem;
    }
  }

  .service_plan {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .plan {
      margin: 0;
      max-width: 650px;
      padding: 2.5rem;
      .plan_contain {
      flex-direction: row-reverse;
      align-items: flex-start;
      text-align: left;
      .header_plan {
        margin-top: 0;
      }
      img {
        width: 85px;
        height: auto;
        margin-left: 2rem;
        filter: opacity(95%);
      }
      }
    }
  }
}
