//Navbar
.header {
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;

  .header_logo {
    display: flex;
    align-items: center;
    padding: $spacing-300;

    .logo_img {
      width: 2.5rem;
      height: 2.5rem;
    }

    .logo_name {
      color: white;
      font-size: $font-size-small;
      margin-left: $spacing-200;
      font-weight: 500;
    }
  }

  .cta {
    gap: $spacing-200;
    display: none;
    img {
      width: 25px;
      height: 25px;
    }
    .cta_number {
      color: $white;
      font-size: 16px;
    }
  }
  .navbar {
    .nav_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.791);
      width: 100%;
      max-height: 0;
      gap: 2.5rem;
      padding-block: 0;
      opacity: 0;
      overflow: hidden; // Prevent content from overflowing
      transition: max-height 0.3s linear, opacity 0.3s linear,
        padding 0.3s linear;
    }
    .nav_item {
      display: flex;
      justify-content: center;
      width: 100%;

      .nav_link {
        color: $white;
        font-size: $font-size-small;
        font-family: $font-secondary;
        display: block;
        width: max-content;
      }

      .active {
        color: $light-brown;
      }
    }
  }
  .nav_list.active {
    max-height: 400px;
    opacity: 1;
    padding-block: 4rem;
    backdrop-filter: blur(10px);
  }

  // Hamburger button
  .menu_button {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  

  span {
    width: 28px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 5px;
    transition: transform 0.5s ease, opacity 0.2s linear;
  }
  
  &.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 12px);
  
  }
  
  &.active span:nth-child(2) {
     transform:  translate(10px, 0);
     opacity: 0;
 
       
  }
  
  &.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -12px);
  }
}
}

@media screen and (min-width: $breakpoint-xl) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .cta {
      display: flex;
      align-items: center;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu_button {
  display: none;
  }
    .nav_list {
    display: flex !important; // Asigură afișarea pe orizontală
    flex-direction: row !important;
    opacity: 1 !important; // Fă vizibile elementele
    overflow: visible !important; // Elimină restricția de conținut ascuns
    padding-block: 0 !important; // Elimină padding-ul adăugat pe mobil
    max-height: unset !important; // Elimină limitarea înălțimii
  }
      .nav_item {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // outline: 1px solid yellow;
        text-align: center;
        color: white;
      }
    }


}