
//BANNER ------ HOME
.banner_home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  padding: 2rem;  
  text-align: center;
}
//BANNER ------ HOME


//BANNER ------ SERVICII

.banner_servicii {
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(6, 4, 1, 0.999)), url('../img/services/servicii_baner.jpg') center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;

  .text {
    margin-bottom: 1rem;
  }
}
//BANNER ------ SERVICII
