.hero {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  color: white;
  padding: 6rem 0.75rem;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Places the video behind the content */
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 10%,
    rgba(0, 0, 0, 0.074) 100%
  ); /* Adjust gradient colors and transparency */
  z-index: 0; /* Sits above the video but below the content */
}

.header {
  width: 100%;
  position: absolute;
  z-index: 25;
}

.hero_content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  // text-align: center !important;

  .hero_title {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-family: $font-secondary;
    color: white;
   word-wrap: normal;
    white-space: normal;
  }
  .hero_text {
    color: rgb(155, 155, 155);
  }
}

.buttons_box {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

// Animated Title Hero

.animated_title span {
  display: inline-block;
  transform: translateX(5%)translateY(5%);
  opacity: 0;
  animation: slideIn 1s ease forwards;
}

.animated_title span:nth-child(1) {
  animation-delay: 0s;
}
.animated_title span:nth-child(2) {
  animation-delay: 0.1s;
}
.animated_title span:nth-child(3) {
  animation-delay: 0.2s;
}
.animated_title span:nth-child(4) {
  animation-delay: 0.3s;
}
.animated_title span:nth-child(5) {
  animation-delay: 0.4s;
}
.animated_title span:nth-child(6) {
  animation-delay: 0.5s;
}
.animated_title span:nth-child(7) {
  animation-delay: 0.6s;
}
.animated_title span:nth-child(8) {
  animation-delay: 0.7s;
}
.animated_title span:nth-child(9) {
  animation-delay: 0.8s;
}
.animated_title span:nth-child(10) {
  animation-delay: 0.9s;
}
.animated_title span:nth-child(11) {
  animation-delay: 1s;
}
.animated_title span:nth-child(12) {
  animation-delay: 1.1s;
}
.animated_title span:nth-child(13) {
  animation-delay: 1.2s;
}
.animated_title span:nth-child(14) {
  animation-delay: 1.3s;
}
.animated_title span:nth-child(15) {
  animation-delay: 1.4s;
}
.animated_title span:nth-child(16) {
  animation-delay: 1.5s;
}
.animated_title span:nth-child(17) {
  animation-delay: 1.6s;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// ==============  Hero Section ==============
.container {
  $max-width: 81.25rem;
  $padding: 1rem;
  width: min($max-width, 100% - 2 * $padding);
  margin-inline: auto;
  padding: 1rem;
  @include flex;
  flex-direction: column;
}
.section_title {
  font-weight: $font-weight-bold;
  font-family: $font-secondary;
  color: $secondary-brown;
}
.container_white {
  background-color: white;
}

// ==============  Count Section ==============
.count_section {
  margin-top: 3rem;

  .count {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    .count_title {
      font-weight: 700;
      width: 100px;
    }
    .count_text {
      color: $beige;
      letter-spacing: 2px;
    }
  }
}

// Animation Style

.count_section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.count_section.visible {
  opacity: 2;
}

@media screen and (min-width: $breakpoint-md) {
  .hero {
    height: 100vh;
    @include flex;
  }
  // .buttons_box{
  // margin: 0 auto;
  // }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 4rem;

    .section_content {
      .section_title {
        margin-bottom: 1rem;
      }
    }
  }

  //Count Section
  .count_section {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    .count {
      margin-right: 5rem;
    }
  }
  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
    text-align: center;
  }
}
