.hero {
  position: relative;
  flex-direction: column;
  color: white;
  padding: 5rem 0.75rem;
  display: flex;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Places the video behind the content */
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
     #120f0f9b 10%,
 #000000ef 60%
  ); /* Adjust gradient colors and transparency */
  z-index: 0; /* Sits above the video but below the content */
  background-size: 150% 150%;
  animation: gradientMove 4s infinite alternate ease-in-out;
}

@keyframes gradientMove {
  0% {
    background-position: 65% 20%;
  }
  100% {
    background-position: 55% 50%;
  }
}

.hero_content {
  position: relative;
  z-index: 1;
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: 100vh;
  // text-align: center !important;

  .hero_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-family: $font-secondary;
    color: white;
  }

  span {
    color: $light-brown;
  }

  .hero_text {
    max-width: 750px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-block: 2rem;
  }
}

// ==============  Count Section ==============
.count_section {
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .count {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      209deg,
      rgba(255, 255, 255, 0.18) 11%,
      rgba(28, 28, 28, 0.435) 40%
    );
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    .count_title {
      font-weight: 700;
      margin-right: 1rem;
    }
    .count_text {
      color: white;
      letter-spacing: 2px;
    }
  }
}
.buttons_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
}

// ==============  Hero Section ==============
.container {
  $max-width: 81.25rem;
  $padding: 2rem;
  width: min($max-width, 100% - 1 * $padding);
  margin-inline: auto;
  @include flex;
  flex-direction: column;
  padding: 1rem;

  .section_text {
    span {
      font-weight: 700;
    }
  }
}

.section_title {
  font-weight: $font-weight-medium;
  font-family: $font-secondary;
  color: $secondary-brown;
}

.container_white {
  background-color: white;
}

.about_container {
  padding: 1rem;
text-align: center;
  .section_title {
    margin-bottom: 0;
  }
}
.wrapper {
  .image_container {
    img {
      max-height: 400px;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    // max-width: 1900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    .section_content {
      margin-right: 2.5rem;
      // max-width: 650px;
      // padding: 1rem;
    }
    .image_container {
      img {
        min-width: 400px;
        min-height: 350px;
      }
    }
  }

  //Count Section
  .count_section {
    flex-direction: row;
    margin-top: 5rem;
    .count {
      // padding: 1rem;
      margin-right: 1rem;
      display: inline-flex;
      // align-items: center;
      justify-content: space-around;
      flex-direction: row;
    }
  }
  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
  }
}
