// ==============  REVIEWS SECTION ==============
.review_section {
  background-color: $white;
  h5 {
    color: rgba(142, 142, 142, 0.511);
    margin-bottom: 2rem;
  }

  .review {
    max-width: 1200px;
    position: relative;
  }

  

  .title_section_review {
    text-align: center;

    .review_title {
      font-weight: 700;
      font-family: 'Mulish', sans-serif;
      color: #604b33;
    }
  }
  .review_card {
    border-radius: 10px;
    // background-color: #f0ede270;
    padding: 1.5rem;
    display: flex;

    .header_review {
      margin-block: 1rem;
      display: inline-flex;

      .review_img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-block: $spacing-300;
      }
      .review_name {
        margin-left: 1rem;
        font-weight: $font-weight-bold;
        color: $secondary-brown;
        margin-block: $spacing-300;
      }
    }

    .date {
      font-size: $font-size-small;
      color: $grey;
    }
  }

  .swiper-pagination {
    margin-block: 1rem;
    position: relative;
  }
}

.swiper-pagination-bullet {
  background: $secondary-brown !important;
  width: 25px !important;
  height: 5px !important;
  border-radius: 8px !important;
}

.checked {
  color: orange;
}

// ==============  REVIEWS SECTION ==============

@media screen and (min-width: $breakpoint-md) {
  .overlay_review {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 11%,
      rgba(255, 255, 255, 0.75) 80%
    );
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 123;
    pointer-events: none;
  }

  .overlay_review2 {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 11%,
      rgba(255, 255, 255, 0.75) 80%
    );
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 123;
    pointer-events: none;
  }
}