//Colors
$primary-black: #000000;
$secondary-brown: #604b33;
$light-brown: #94754f;
$beige: #F0EDE2;
$grey: #878686;
$light_grey: #e8e8e8;
$white: #ffffff;

// Fonts Family
$font-primary: 'Inter';
$font-secondary: 'Mulish', sans-serif;

// Fonts Size
$font-size-xsmall: 0.8rem;
$font-size-small: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.453rem;
$font-size-xlarge: 1.563rem;
$font-size-xxlarge: 2.5rem;

// Fonts Weight
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Media Queries
$breakpoint-sm: 36rem;  // 576px / 16
$breakpoint-md: 48rem;  // 768px / 16
$breakpoint-lg: 62rem;  // 992px / 16
$breakpoint-xl: 75rem;  // 1200px / 16
$breakpoint-xxl: 87.5rem;  // 1400px / 16

// Spacing
$spacing-100: 0.25rem;
$spacing-200: 0.5rem;
$spacing-300: 0.75rem;
$spacing-400: 1rem;
$spacing-500: 1.25rem;
$spacing-600: 1.5rem;
$spacing-700: 1.75rem;
$spacing-800: 2rem;
$spacing-900: 2.25rem;
$spacing-1000: 2.5rem;
$spacing-1100: 2.75rem;
$spacing-1200: 3rem;
$spacing-1300: 3.25rem;
$spacing-1400: 3.5rem;
$spacing-1500: 3.75rem;
$spacing-1600: 4rem;
$spacing-1700: 4.25rem;



